@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
  body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }

  .home {
    background-image: url("img/counts-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 969px;
}

  .count {
    background-image: url("img/counts-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

  .navbar-brand {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
  }


  a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 0 3px;
  }

  .navbar a {
    color: black;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar a:hover {
    color: #8577fb;
    font-family: "Poppins", sans-serif;
  }

  .counts-text {
      color:rgba(255, 255, 255, 0.8);
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      
  }

  .thecount {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 600;
  }

  .card {
    margin: 20px;
  }

  .bi-displa

  .hero-h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    color: white;
  }

  .services-h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #444444;
    font-family: 'Poppins', sans-serif;
  }
  
  .hero-h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  .about-h2 {
    color:#2c4964;
    font-size: 32px;
    font-weight: 600;
  }

  li {
    list-style-type: none;
 }

 .bi  {
   color: #5846f9;
   padding-right: 4px;
   font-size: 20px;
 }

 .btn.read-more {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 10px 50px 10px 28px;
    border-radius: 5px;
    font-weight: 500;
    background: linear-gradient(50deg, #5846f9 0%, #7b27d8 100%);
 }

 
 .btn.get-started-1 {
  font-family: 'Poppins', sans-serif;
  padding: 10px 35px 10px 35px;
  border: 2px solid white;
  font-weight: 600;
  
}


