@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }

.home {
    background-image: url("img/counts-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 969px;
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 32px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 0 3px;
  }


  .hero-h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    color: white;
  }
  
  .hero-h2 {
    color: rgba(255, 255, 255, 0.8);
  }

  .about-h2 {
    color:#2c4964;
    font-size: 32px;
    font-weight: 600;
  }

  li {
    list-style-type: none;
 }

 .bi  {
   color: #5846f9;
   padding-right: 4px;
   font-size: 20px;
 }

 .btn.read-more {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    font-weight: 500;
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
 }