.container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
  }
  
  .container-sm {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
  }
  
  .container-md {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
  }
  
  .container-lg {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
  }
  
  .container-xl {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
  }
  
  .container-xxl {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
  }
  
  .container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
  }
  